body {
  --font: 'Kanit', sans-serif;
}

h1, h2 {
  font-family: var(--font);
}
.graf svg {
    overflow: visible;
}

.axis {
  opacity: .5;
}

.graf {
  margin-bottom:20px;
  margin-top:-40px;
  max-width: 600px;
  color: #666;
}

.line {
  fill: none;
  stroke: #facc69;
  stroke-width: 4;
} 

.area {
  fill: transparent;
}

.your-line {
  stroke: #b4babc;
  stroke-width: 4;
  stroke-dasharray: 5 5;
}

.introtext, .valuedisplay {
  font-family: var(--font);
}

.introtext {
  font-size: 13px;
}

.grafbtn {
  margin: 0 auto;
  //width: 80px;
  line-height: 1em;
  background-color: #e7e7e7; 
  color: black;
  border: none;
  border-radius: 4px;
  padding: 8px 12px 6px;
  margin-top: 80px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-family: var(--font);
  opacity: .8;
  transition: opacity .2s;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  &.disabled {
    opacity: 0.4;
    cursor: default;
    &:hover {
      opacity: .5;
    }
  }
}


.introtext {
  font-family: var(--font);
}